$light:     #ffffff;
$dark:      #626d81;
$primary:   #ff6969;
$secondary: #ffe9e9;

$gradient: linear-gradient('to right', #ff6969ff, #ff9472ff);

%containerBase {
  flex: 1;
}

.screenContainer {
  @extend %containerBase;
  flex-direction: row;
}

.homeContainer {
  @extend %containerBase;
  background: $secondary;
}

.contentContainer {
  height: 100%;
}

.heartCardContainer {
  width: 100%;
  height: 40%;
}

.heartCard {
  width: 100%;
  height: 100%;
}

.heartRateText {
  font-size: 32px;
  color: $light;
}
