$light:     #ffffff;
$dark:      #626d81;
$primary:   #ff6969;
$background: #ffe9e9;
$subtle:    rgba(255, 255, 255, 0.5);

$font-h1: 48px;
$font-h2: 32px;
$font-p: 16px;
$font-small: 12px;
$font-header: 24px;

.header {
  background: $primary;
}

.headerText {
  color: $light;
  font-weight: bold;
  font-size: $font-header;
}

%containerBase {
  flex: 1;
}

.screenContainer {
  @extend %containerBase;
  flex-direction: row;
}

.homeContainer {
  @extend %containerBase;
  background: $background;
}

.contentContainer {
  height: 100%;
}

.greetingContainer {
  width: 100%;
  padding: 30px;
}

.greetingText {
  color: $dark;
  font-size: $font-p;
  font-weight: bold;
}

.greetingNameText {
  color: $dark;
  font-size: $font-h2;
  font-weight: bold;
}

.heartCardContainer {
  width: 100%;
  height: 40%;
}

.heartCard {
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.heartInfoContainer {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heartGraphContainer {
  flex: 2;
  flex-direction: column;
}

.heartRateCounter {
  flex-direction: row;
}

.heartRateSubtleText {
  font-size: $font-h1;
  color: $subtle;
}

.heartRateText {
  font-size: $font-h1;
  color: $light;
}

.heartRateInfo {
  font-size: $font-small;
  color: $subtle;
}
.bubbleTextLeft {
    color: $light;
}
.bubbleTextRight {
    color: $dark;
}

.bubbleWrapperLeft {
    background-color: $primary;
    border-radius: 20px 20px 20px 0;
}
.bubbleWrapperRight {
    background-color: $light;
    border-radius: 20px 20px 0 20px;
}

.modalContent {
  background-color: "white";
  padding: 22px;
  justify-content: "center";
  align-items: "center";
  border-radius: 4px;
}
